<mat-card>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="authForm.get('email').hasError('required')"
        >Enter email</mat-error
      >
      <mat-error *ngIf="authForm.get('email').hasError('email')"
        >Enter valid email</mat-error
      >
      <mat-error *ngIf="authForm.get('email').hasError('userIsExist')"
        >User is not registered</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="authForm.get('password').hasError('required')"
        >Enter password</mat-error
      >
      <mat-error *ngIf="authForm.get('password').hasError('isEqlPwd')"
        >Incorrect password</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      color="accent"
      [disabled]="authForm.get('email').invalid || authForm.get('password').invalid"
    >
      Sign In
    </button>
    
  </form>
</mat-card>
