<mat-card>
  <form
    [formGroup]="cutForm"
    (ngSubmit)="onCut(cutForm.get('fullURL'), formDirective)"
    #formDirective="ngForm"
  >
    <mat-form-field appearence="fill">
      <input
        type="text"
        matInput
        formControlName="fullURL"
        placeholder="To shorten, enter URL"
      />
      <mat-error *ngIf="cutForm.get('fullURL').hasError('required')"
        >Error, enter URL</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      color="accent"
      [disabled]="cutForm.get('fullURL').invalid"
    >
      Cut
    </button>
  </form>
</mat-card>
<app-short-url-list></app-short-url-list>
