mat-card {
    display: flex;
    justify-content: center;
    
}

.short-url-wrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 50%;
}

.mat-icon {
    margin-left: 10px;
    cursor: pointer;
}
