<mat-card *ngFor="let urlDataObj of urlDataList$|async">
    <div class="short-url-wrapper">

            <p>{{urlDataObj.fullURL}}</p>
            
            <div>
                <a href={{urlDataObj.shortenURL}}>{{urlDataObj.shortenURL}}</a>
                <mat-icon 
                matTooltip="Copy short URL"
                matTooltipPosition="below"
                (click)="handleCopyClick($event)"
                >content_copy</mat-icon>
            
                <mat-icon
                matTooltip="Add tags & desc"
                matTooltipPosition="below"
                >edit</mat-icon>
            </div>
            
    </div>
</mat-card>
